<style class="spelling_exception">
	body {
		padding: 25px;
		padding-top: 0;
	}

	footer {
		margin-top: 40px;
	}

	table.dataTable th {
		text-align: left;
	}

	#inlinedSubsetDialog,
	#customSubsetsDialog {
		display: none;
		overflow: auto;
	}

	.custom-subset-dialog h2 {
		margin-top: 0;
	}

	.custom-subset-dialog .header {
		clear: both;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.custom-subset-dialog .tog {
		border: 3px solid grey;
		color: grey;
		cursor: pointer;
		padding: 4px;
	}

	.custom-subset-dialog span.tog {
		width: 20px;
		height: 20px;
		margin-bottom: 5px;
		display: inline-block;
	}

	.custom-subset-dialog .tog.inc {
		border: 3px solid black;
		color: black;
	}

	/**
	 * Fixed width font for places we copy code from, good it's familiar looking and not custom too
	 */
	pre {
		font-family: monospace;
	}

	/**
	 * Inlined
	 */
	#inlinedSubsetDialog pre {
		border: 1px solid black;
		padding: 5px;
		overflow: auto;
		white-space: pre;
		display: block;
		unicode-bidi: embed;
	}
</style>
