<!DOCTYPE html>
<html>
	<head>
		<title>Inlined woffs: {{layoutTitle}}</title>
		{{> inlinedWoffDefault}}
		{{> inlinedWoffHeaders}}
		<link rel="stylesheet" type="text/css" href="css/above.css" />
		<script type="text/javascript" src="/js/all.js" async></script>
	</head>
	<body>
		<h1>{{layoutTitle}}</h1>
		{{{contents}}}
		<footer>
			<hr />
			{{> footer}}
		</footer>

		<!-- Hack to load below the fold asyncish, I don't care to do this 100% right for this little hack site. Hopefully this kinda works on popular dev browsers -->
		<link rel="stylesheet" type="text/css" href="css/below.css" />
	</body>
</html>
